    

<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Best</b>sellers</a>
    </div>
  <div class="row">
   <button class="btn bg-green" style="float: right;margin: 10px 20px;" id="btnExport" onclick="javascript:xport.toXLS('ptable');"> <li class="fa fa-download" style="padding: 5px"></li>Export as Excel</button>
    </div><br>

    <div style="background-color: white">
        <table id="ptable" style="width:100%" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>PRODUCTS</th>
                    <th>QUANTITY</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {{# each products}}
                <tr>
                    <td>{{this.count}}</td>
                    <td>{{this.product.model}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.price}}TK</td>
                </tr> 
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br>
<script>
    $(document).ready(function() {
        $('#ptable').DataTable( {
            stateSave: true
        } );
    } );
</script>

