

</div>

</div>
<% if(user){ %>
<footer id="footer" class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2019 <a href="http://www.ecl-bd.com/">Everest Computers Ltd</a>.</strong> All rights reserved.
</footer>
<% } %>
</div>

<script type="text/javascript">

function googleTranslateElementInit() {
    new google.translate.TranslateElement({
    pageLanguage: 'en',
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
    }, 'google_translate_element');
}

$(document).ready(function () {
    $('#ptable').DataTable();
    $('#ptable1').DataTable();
    $('[data-toggle="tooltip"]').tooltip();
});

</script>

<style type="text/css" media="print">
@page {
    size: auto;
    margin: 0;
}
</style>

<!-- jQuery 3 -->
<script>
$.widget.bridge('uibutton', $.ui.button);
</script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>
<script src="/assets/js/fastclick.js"></script>
<script src="/assets/js/adminlte.min.js"></script>
<script src="/assets/js/jquery.modal.min.js"></script>

<script src="/assets/js/jspdf.min.js"></script>
<script src="/js/js.js"></script>
<script src="/js/purchase.js"></script>
<script src="/js/reg.js"></script>

</body>
</html>