
<%- include('../partials/_head') %>

<div class="container-fluid">

    <div class="box">
        <div id="#PRODUCT"></div>
        <button class="collapsible">
            <li class="fa fa-info panel-icon" style="padding: 5px;"></li><span>SUB CATEGORY INFO</span><span
                style="float:right" id="sp">+</span>
        </button>

        <div class="content" style="background-color: white; min-height: 100px; display:block">
            <div class="register-logo">
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">

                        <div class="well">
                            <form action="/category/addSubCategory" method="POST">
            
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="cate">Category
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control inp" name="cate" id="cate" required>
                                            <option value="">Select One</option>
                                            <% for(let i=0; i< cat.length; i++){ %>
                                            <option value="<%=cat[i]._id%>"><%=cat[i].name%></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-5 col5">
                                        <label class="lbl" for="subCat">Sub Category
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="subCat" id="subCat" class="form-control inp" required>
                                    </div>
                                </div>
                                <br>
                                
                                <div class="row">
                                    <center>
                                        <button type="submit" class="btn btn-default btn-md">Save</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/_footer') %>

